*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
$bp-large: 62em;
$bp-medium: 48em;
$bp-small: 36em;