.portada{
    &__contenedor{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__grado{
            text-align: center;
        }
        &__foto{
            img{
                border-radius: 50%;
            }
        }
        &__contenido{
            text-align: center;
        }
    }
}