.portada{
    &__conjunto{
        &__contenedor{
            &__bienvenida{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &--titulo1{
                    color: rgb(51, 51, 51);
                    text-align: center;
                    font-size: 8.2rem;
                    font-family: $font-paris;
                }
                &--imagen{
                    height: 65rem;
                }
            }
        }
    }
}