.titulo{
    width: 100%;
    background: linear-gradient(180deg, rgba(#f4f6f9,.1) 0%, rgba(#081124,.9) 100%), url(../img/S1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__contenedor{
        text-align: center;
    }
}
.desarrollo{
    &__contenedor{
    }
}