.trabajos{
    &__contenedor{
        &__titulo{
            text-align: center;
        }
        &__proyectos{
            display: flex;
            column-gap: 4rem;
            width: 100%;
            &__cajas{
                width: calc(100% / 3);
                padding: 8rem 2rem 3rem 2rem;
                box-shadow: .8rem .8rem 0 0 rgb(245, 110, 86, 0.5);
                &:first-child{
                    background: linear-gradient(180deg, rgba(#f4f6f9,.1) 0%, rgba(#081124,.9) 100%), url(../img/pokedex.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;                         
                }
                &:last-child{
                    
                    background: linear-gradient(180deg, rgba(#f4f6f9,.1) 0%, rgba(#081124,.9) 100%), url(../img/pelicomic.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                &:nth-child(even){
                    
                    background: linear-gradient(180deg, rgba(#f4f6f9,.1) 0%, rgba(#081124,.9) 100%), url(../img/spotifly.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;                          
                }
            }
        }
    }
}